@import url('https://fonts.googleapis.com/css?family=Coustard&display=swap');

.App {
  text-align: center;
}

.Background {
  height: 100vh;
  width: 100vw;
}

.Background-image {
  background-image: url('./images/ecotrekbg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
}

.navbar {
  background-color:#8FC886;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title {
  font-family: 'Coustard';
  position: absolute;
  top: 10%;
  font-size: 75px;
}

.description {
  font-family: 'Coustard';
  top: 20%;
  position: fixed;
  font-size: 30px;
}

.origin {
   
}

.destination {
  
}

.dropdown {
  
}

.submit {
  
}